.App {
  text-align: center;
  color: rgb(184, 184, 184);
  text-shadow: 2px 2px rgb(141, 140, 140);
  font-size: 70px;
}
body {
  background: url(https://i.pinimg.com/originals/54/ba/1a/54ba1aebeb5c5c92105f430009db074c.jpg);
  background-position: center;
  height: 700px;
  background-size: 2000px;
  background-repeat: no-repeat;
}
